* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 24px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.vote-btn {
  margin-left: auto;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: .3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}